.container {
    margin: 0;
}

.card {
    margin-right: 10px;
}

.cover-container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 68vh;
    background-image: url("/static/images/cover.jpg");
    background-size: cover;
    
  }